<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-radius border-none">
      <turbo-frame id="user_bets"></turbo-frame>
    </div>
  </div>
</div>