/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* TODO: Use epilouge and inter instead? */
body {
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
}

.border-radius {
  border-radius: 15px;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
}

.table {
  background-color: transparent !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 940px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-background {
  background: white;
}

.custom-background:hover {
  background: #ebebeb;
}

.table-border-bottom {
  border-bottom: 1px solid #f8f8f8 !important;
}

.table>:not(caption)>*>* {
  background-color: transparent;
}