/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* TODO: Use epilouge and inter instead? */
body {
  background-color: #F2F2F2;
  font-family: 'Inter', sans-serif !important;
}

.border-radius {
  border-radius: 15px;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
}

.table {
  background-color: transparent !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 940px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-background {
  background: white;
}

.custom-background:hover {
  background: #ebebeb;
  border-radius: 15px;
}

.custom-background-2 {
  background: transparent;
}

.custom-background-2:hover{
  background: #ebebeb;
}

.custom-background-2:hover:last-child {
  background: #ebebeb;
  border-bottom: 15px;
}


.table-border-bottom {
  border-bottom: 1px solid #f1f0f0 !important;
}

.table>:not(caption)>*>* {
  background-color: transparent;
}

.fs-7 {
  font-size: 0.9rem!important;
}

.team-sm-width {
  width: calc(50% - 30px);
}

.left-team-sm {
  flex-direction: row-reverse!important;
}

.left-team-sm img {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 1rem;
}

.left-team-xl img {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  margin-left: 20px;
}

.right-team-sm {
  flex-direction: row!important;
}

.right-team-sm img {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.right-team-xl img {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  margin-left: 20px;
}

.game-sm-date-time-width {
  width: 60px;
}

.game-sm-date-time-width p {
  font-size: 0.9rem!important;
}

.team-score-left {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.team-score-right {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.left-team-xl {
  width: 50%;
  flex-direction: row-reverse;
}

.right-team-xl {
  width: 50%;
  flex-direction: row;
}

@media (max-width: 992px) {
  .fs-7 {
    font-size: 0.8rem!important;
  }

  .left-team-xl {
    width: 100%;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .right-team-xl {
    flex-direction: row !important;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #f1f0f0;
  }

  .team-score-left, .team-score-right {
    margin: 0;
  }
}

@media (max-width: 560px) {
  .left-team-sm {
    flex-direction: column!important;
    width: 120px;
  }

  .right-team-sm {
    flex-direction: column!important;
    width: 120px;
  }

  .left-team-sm img, .right-team-sm img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }

  .left-team-sm p, .right-team-sm p {
    text-align: center;
  }

  .game-sm-date-time-width p{
    font-size: 1rem!important;
  }
}